---
import Layout from '@/layouts/Layout.astro';
import LinkCard from '@/components/link-card.astro';
import { getAllCategories, getLinksByCategory } from '@/lib/dataService';

const { categories: categoriesWithLinks } = await getLinksByCategory();

export async function getStaticPaths() {
  const allCategories = await getAllCategories();
  return allCategories.map((category) => ({
    params: { slug: category.name.toLowerCase() },
  }));
}

const { slug } = Astro.params;
const category = categoriesWithLinks.find(
  (category) => category.name.toLowerCase() === slug,
);
if (!category) return Astro.redirect('/404');

const categoryLinks = category.links;
---

<Layout title={`${category.name} Library - Rosure`} activeSidebarId={slug}>
  <div
    class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5"
  >
    {categoryLinks.map((link) => <LinkCard link={link} />)}
  </div>
</Layout>
