<footer
  class="flex flex-col items-center justify-center gap-1 text-nowrap border-t border-border px-4 pb-6 pt-8 text-secondary sm:flex-row"
>
  <div>
    Built by
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="inline pl-1 font-medium text-primary underline underline-offset-4"
      href="https://ro.yikzero.com/"
    >
      yikZero
    </a>
    .
  </div>
  <div>
    The source code is available on
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="inline pl-1 font-medium text-primary underline underline-offset-4"
      href="https://github.com/yikZero/Rosure-Astro"
    >
      Github
    </a>
    .
  </div>
</footer>
